smartkey.sk_apps#sk_apps_qr .sk_box_content{
	width: 400px;
	height: 330px;
}
smartkey.sk_apps#sk_apps_qr input[type=radio]{
	margin: 5px;
}
smartkey.sk_apps#sk_apps_qr button{
	margin: 5px 10px;
}
smartkey.sk_apps#sk_apps_qr .qr_outputbox,
smartkey.sk_apps#sk_apps_qr .qr_inputbox{
	text-align: center;
}
smartkey.sk_apps#sk_apps_qr .qr_typelist{
	text-align: left;
}
smartkey.sk_apps#sk_apps_qr .qr_inputarea{
	width: 360px;
	height: 150px;
}
smartkey.sk_apps#sk_apps_qr .qr_outputbox{
	position: absolute;
	width: 100%;
	left: -500px;
	top: 10px;
	background-color: #fff;
	padding: 5px; 
	transition:all .4s ease-in-out;
	height: 330px;
}
smartkey.sk_apps#sk_apps_qr .sk_copyright{
	font-size: 12px;
	color: #777;
	border-top: 1px solid #eee;
	text-align: center;
	padding-top: 5px;
	margin-top: 10px;
}
smartkey.sk_apps#sk_apps_qr .sk_copyright a{
	color: #777;
	text-decoration: none;
}